@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Noto+Kufi+Arabic:wght@400;600;900&display=swap');


:root{
    --latin-family: 'Montserrat', sans-serif;
    --arabic-family: 'Noto Kufi Arabic', sans-serif;

    font-size: 18px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}